h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
}

body {
  font-family: 'Lora', serif;
  font-size: 21px;
  line-height: 1.52;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}

.content-wrap {
  width: 38em;
  margin: 0 auto;
}

body, a {
  color: #171717;
}

a:hover {
  color: #8B2500;
  text-decoration: underline;
}

p {
  margin-bottom: 1.52em;
}

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h2.description {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  margin-top: -0.3em;
}

h3 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol, ul {
  margin: 0 1.4em 1.4em 4em;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0;
}

/* page header */

.header {
  margin: 3em 0 2em;
  border-bottom: 1px dashed #d2d2d2;
}

.header h1 {
  font-size: 2.6em;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.header img {
  height:248px;
  width:307px;
  margin-bottom:20px;
}

.header a, .header a:hover {
  text-decoration: none;
  color: #171717;
}

.header .mixologist {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin-top: -0.3em;
}

.header .mixologist a {
  text-decoration: underline;
}


/* nav */

.site-header {
  color: #171717;
  height:64px;
  padding:10px 0;
  background-color: #efefef;
  border-bottom:1px dotted #ccc;
}

nav ul {
  font-size: .75em;
  text-align: right;
  list-style: none;
  margin:0 -20px 0 0;
  padding:0;
}


nav li {
  display: inline-block;
  padding:22px 8px;
  text-transform: uppercase;
  margin:0;
}

nav li a {
  color: #171717;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  color:#996666;
}

.logo {
  float: left;
  height: 54px;
  padding-top:5px;
}

.logo a {
  color:#fff;
  display: block;
  width: 107px;
  height: 54px;

}

.logo a img {
  width:107px;
  height:54px;
}

/* navbar overrides */

.navbar a {
  text-decoration: underline;
}

/* content */

.main-copy {
  width:65%;
  float:left;
  font-size:.875em;
  padding-bottom: 60px;
}

.sidebar-lists {
  width: 25%;
  float: right;
  text-align: left;
  font-size: .675em;
}

.sidebar-description {
  text-align: left;
}

select {
  width:100%;
}

#latest {
  margin:0;
  text-align: left;
  list-style: none;
}

#directory {
  margin:0;
  text-align: center;
  list-style: none;
}

.prose-edit {
  font-size: .75em;
  text-align: center;
}

/* page footer */

footer {
  margin: 2.6em 0;
  border-top: 1px dashed #d2d2d2;
  clear:both;
}

footer .copy {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 1em;
}

footer .copy, footer .copy a {
  color: #8e8e8e;
}

.disclaimer {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;
  margin: -28px auto 36px auto;
  background-color: #f8f8f8;
  width: 200px;
}

/* media queries */

@media screen and (min-width: 1600px) {
  body { font-size: 26px; }
    .disclaimer {
      margin: -33px auto 36px auto;
  }
}

@media screen and (max-width: 900px) {
  body { font-size: 18px; }
   .disclaimer {
      margin: -22px auto 36px auto;
  }
}

@media screen and (max-width: 500px) {
  .content-wrap {
    width: auto;
    padding: 0 1em;
  }
  .header {
    margin: 1em 0;
  }

  .header img {
    height: 198px;
    width: 257px;
    margin-bottom: 0.6em;
  }

  .site-header {
    height:60px;
  }

  .logo {
   display:none;
  }

  nav ul {
    margin:0 auto;
    text-align: center;
  }
  nav li {
    font-size: 12px;
  }

  .main-copy {
    width: 100%;
    float:none;
    font-size:.875em;
    padding-bottom: 0;
    text-align: center;
  }

  .sidebar-lists {
    width: 100%;
    float: none;
    text-align: center;
    font-size: .775em;
  }

  .sidebar-description {
  text-align: center;
}

  #latest {
    margin:0;
    text-align: center;
    list-style: none;
  }

  .disclaimer {
      margin: -23px auto 36px auto;
  }

}
